body{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Acme, sans-serif;
    font-size: 100%;
    background: #111111;
}
header {
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 75%;
}
.calculadora {
    width: 200px;
    padding: 30px;
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1d1f20;
    text-align: center;
    border-radius: 32px;
}
.calcBotones {
  display: grid;
  background-color: #fff;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}
.operadores {
  background-color: #999;
}
.clear {
  background-color: #ff0b0b;
}
#calcDisplay {
  background-color: #222222;
  color: #fff;
  font-size: 1.7em;
  padding: 0.5em 0.75em;
  text-align: right;
}

.igual {
  grid-column: -2;
  grid-row: 4 / span 4;
  background-image: linear-gradient(#6e0b0b, #ffffff, #6e0b0b);
  border-radius: 5px;
  cursor: pointer;
}
.igual:hover{
    background: #6e0b0b;
}


#switch {
  margin-top: 15px;
  max-width: 150px;
}
@media (max-width: 500px){
  body {
     transform: scale(0.6);
      }
  #mostrarResultado {
    left: -30px;
  }
  #historialCalculos {
    margin-left: -10%;
  }
    #switch {
  margin-top: -50px;
  margin-left: -150px;
  margin-right: auto;
}
  header {
  transform: scale(0.7);
  margin-left: 1%;
  margin-right: 99%;
}

}
